option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nuvox_app.settings"
    PYTHONPATH: "${PYTHONPATH}:/var/app/current/:/var/app/current/nuvox_app/"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "nuvox_app.wsgi:application"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:process:default":
    HealthCheckPath: "/health-check/"
    MatcherHTTPCode: "200"
