option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nuvox_app.settings"
    "PYTHONPATH": "./nuvox_app"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: nuvox_app/nuvox_app/wsgi.py
    NumProcesses: 3
    NumThreads: 20
