{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'keyboard/keyboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'keyboard/keypad.css' %}">
    <script src={% static 'keyboard/keyboard.js' %}></script>
    <script src={% static 'keyboard/keypad.js' %}></script>
    {{ is_mobile|json_script:"is_mobile" }}
    <script>
        const isMobile = JSON.parse(document.getElementById('is_mobile').textContent);
    </script>
    <script>
        const csrfToken = '{{ csrf_token }}';
    </script>
{% endblock head %}

{% block content %}
      <div class="top-section-container">
          <div class="row no-gutters" style="height: 50%">
              <input style="font-size: x-large" id="text-box">
          </div>
          <div class="row no-gutters" style="height: 50%; font-size: x-large">
                <div class="col-sm d-flex justify-content-center">
                    <button id="suggestion-1" class="suggestion-btn" onclick="handleSuggestionClick(this)"></button>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <button id="suggestion-2" class="suggestion-btn" onclick="handleSuggestionClick(this)"></button>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <button id="suggestion-3" class="suggestion-btn" onclick="handleSuggestionClick(this)"></button>
                </div>
          </div>
      </div>
    {% include "keyboard/_keypad.html" %}

{% endblock %}
