{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'keyboard/keypad.css' %}">
    <script src={% static 'keyboard/keypad.js' %}></script>
    {{ is_mobile|json_script:"is_mobile" }}
    <script>
        const isMobile = JSON.parse(document.getElementById('is_mobile').textContent);
    </script>
    <script>
        const csrfToken = '{{ csrf_token }}';
    </script>
{% endblock head %}

{% block content %}
    <div id="top-section-container" class="container">
      <div class="row">
          <input placeholder="this is where text will go...">
        </div>
      </div>
    </div>
    {% include "keyboard/_keypad.html" %}

{% endblock %}
