{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block head %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(2) {
            background-color: gold;
        }

        tr:nth-child(3) {
            background-color: silver;
        }

        tr:nth-child(4) {
            background-color: #cd7f32;
        }
    </style>
{% endblock head %}

{% block content %}
    <div style="text-align: center; margin-top: 10%">
        <h1>Competition Leaderboard</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Accuracy</th>
                <th>Ranking</th>
            </tr>
            {% for username, accuracy in ranked_username_accuracy_tuples %}
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ accuracy|floatformat:3 }}</td>
                    <td>{{ forloop.counter }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
