#top-section-container{
    height: 20vh;
    padding-top: 10vh;
}

#target-word{
    font-weight: bolder;
}

#game-over-modal {
    overflow: auto !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
