#keyboard-top-section{
    text-align: center;
    height: 20vh;
}

#start-game-button{
    padding-top: 10vh;
}

#target-word{
    font-size: 32pt;
    font-weight: bolder;
    padding-top: 10vh;
}

#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sketchpad {
    /* Note background-url is specified inline in keyboard.html as it references Django static so can't be here (I think). */
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
    background-size: 100% 100%;
}
